body{
    margin: 8px 20px;
    background-color: rgb(14, 139, 143);
}

nav{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
nav a{
    margin:0px 15.6666px;
    border: 1px solid #000;
    background-color:rgb(201, 255, 224);
    color: black;
    padding:5px;
    text-decoration: none;
}
nav a:hover{
    color:rgb(14, 139, 143);
}
header div img{
    margin: 10px ;
    
    width: 100%;
}
.note{
    color: rgb(201, 255, 224);
    font-size:85%;
    font-style: italic;
    padding: 10px;
}
.form,.information,.dates{
    border: 1px solid #000;
    margin: 18px;
    border-radius:5%;
}
section ul li a{
    text-decoration: none;
    color: black;
}   
section ul li a:hover{
    color:rgb(14, 139, 143);

} 
section ul li a:active{
    color:white;

}   
    
    

section.form , section.information ,section.dates {
    background-color:rgb(201, 255, 224);
}
footer{
    margin-top:50px ;
    text-align: center;
}
